.custom-list {
	@include flex;
	color: inherit;

	.img-holder {
		width: 70px;
		min-width: 70px;
		margin-right: 10px;

		img {
			width: 100%;
			border-radius: 3px;
		}
	}

	.info {
		flex-grow: 1;

		.head {
			padding: 7px 0 7px 0;
			border-bottom: 2px dotted $border-color;

			.title {
				font-size: 14px;
				margin-bottom: 0;
			}

			p {
				margin-bottom: 0;
				font-weight: bold;
				opacity: 1;
			}
		}

		.body {
			padding: 14px 0;
			font-size: 14px;
			opacity: .7;

			p {
				font-size: 14px;
				opacity: 1;
				margin-bottom: 0;
				font-weight: 400;
			}
		}
	}

}